
  .category {
    --section-padding: 40px;
    border-block: 1px solid var(--white_a9);
  }

  .category-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px 10px;
  }
  
  .category-item { max-width: calc(50% - 5px); }
  
  .category-card .card-title {
    color: var(--white_a25);
    margin-block-end: 10px;
    text-align: center;
    transition: var(--transition-2);
  }
  
  .category-card:is(:hover, :focus-visible) .card-title { color: var(--white); }
  
  
  
  