/*-----------------------------------*\
    #GALLERY
  \*-----------------------------------*/

.gallery-list {
  gap: 30px;
}

.gallery-card :is(.card-content, .btn-icon) {
  position: absolute;
  z-index: 1;
}

.gallery-card .card-content {
  padding: 30px 12px;
}

.gallery-card .card-tag {
  color: var(--white_a70);
  font-size: var(--fs-9);
  font-weight: var(--fw-300);
}

.gallery-card .card-title {
  font-weight: var(--fw-400);
  max-width: max-content;
  margin-block-end: 2px;
}

.gallery-card .card-title:is(:hover, :focus-visible) {
  text-decoration: underline;
}

.gallery-card .btn-icon {
  width: 50px;
  height: 50px;
  --border-radius: 0 0 0 var(--radius-25);
}

.gallery-card .btn-icon img {
  width: 25px;
  transform: rotate(-45deg);
}

.gallery-card .btn-icon:is(:hover, :focus-visible) {
  border-bottom-left-radius: var(--radius-5);
}

.gallery-item .gallery-card:last-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
}

.gallery-item:is(:hover, :focus-within) .gallery-card {
  animation-play-state: paused;
}

.gallery .scroll-down {
  width: 60px;
  height: 60px;
  place-content: center;
  margin-inline: auto;
  margin-block-start: 55px;
  border: 1px solid var(--white_a15);
  border-radius: var(--radius-circle);
  transition: var(--transition-2);
  animation: scrollDown 2.5s linear infinite alternate;
}

.gallery .scroll-down img {
  width: 22px;
}

.gallery .scroll-down:is(:hover, :focus-visible) {
  background-color: var(--radical-red);
  border-color: var(--radical-red);
}

@keyframes scrollDown {
  0% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(12px);
  }
}
